<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title></title>
</head>
<body ng-app="app">
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <a href="/" class="navbar-brand">Image Loader</a>
            </div>
        </nav>
    </header>
<div ng-controller="homeCtrl as vm" id="main" class="container">
    <div class="row">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <input ng-model="vm.newUrl" class="form-control" placeholder="Put Image URL Here"/>
                    <span class="input-group-btn">
                            <button ng-click="vm.addImage()" class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <ul class="list-unstyled list-inline">
            <li ng-repeat="image in vm.images">
                <img class="img-responsive img-rounded img-thumbnail" ng-src="{{image.url}}"/>
                <div>
                    <button ng-click="vm.removeImage(image)" class="btn btn-link btn-xs">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <span>{{image.site}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/app/app.js"></script>
</body>
</html>